.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filterOrder{
    display: flex;
    margin-left: 1em;
}

.controls:last-child{
    margin-left: 1rem;
}

.active{
    background-color: #ff4d88;
    color: white;
}

.controlButtons{
    margin-right: 5px;
    margin-bottom: 5px;
}

.noTareas{
    color: gray;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarea{
    width: 250px;
    border: 1px solid black;
    margin: 5px 5px 5px 0;
    padding: 5px 5px;
    text-align: center;
    position: relative;
}

.task{
    margin-top: 5px;
}


.fixr{
    position: absolute;
    right: 0;
    top: 0;
}

.fixr mat-icon{
    font-size: 1rem;
}

.task h1{
    font-weight: 500;
}

.task-info{
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 8px;
    background-color: lightgrey;
    font-size: small;
}

.proceso{
    background-color: #F3A8F5;
    border: 1px solid #E39EE5;
}

.incompleta{
    background-color: cornsilk;
    border: 1px solid yellow;
}

.white{
    color: white;
}

.pause{
    background-color: #7000cc;
}

.complete{
    background-color: #ff6600;
}



.filtroPendientes{
    display: none;
}

.filtroProceso{
    display: none;
}