<div class="top mt-3">
    <div class="titulo">
        <h1>Lista de Tareas pendientes</h1>
    </div>
    <div class="controls">
        <p>Ordenar por:</p>
        <button class="btn btn-sm" (click)="ordenar(0)" [ngClass]="{'active':order===0, 'basic':order!=0}">Título</button>
        <button class="btn btn-sm" (click)="ordenar(1)" [ngClass]="{'active':order===1, 'basic':order!=1}">Fecha</button>
        <button class="btn btn-sm" (click)="ordenar(2)" [ngClass]="{'active':order===2, 'basic':order!=2}">Prioridad</button>
    </div>
    <div class="controls">
        <p>Filtrar por:</p>
        <button class="btn btn-sm" (click)="filtrar(0)" [ngClass]="{'active':filter===0, 'basic':filter!=0}">Todas</button>
        <button class="btn btn-sm" (click)="filtrar(1)" [ngClass]="{'active':filter===1, 'basic':filter!=1}">Pendientes</button>
        <button class="btn btn-sm" (click)="filtrar(2)" [ngClass]="{'active':filter===2, 'basic':filter!=2}">En proceso</button>
    </div>
</div>

<mat-divider class="mt-1 mb-3"></mat-divider>

<h3 *ngIf="tareas.length===0" class="noTareas">No hay tareas pendientes, ¡Felicidades!</h3>

<div class="lista mat-typography">
    <div class="tarea" *ngFor="let tarea of tareas" 
        [ngClass]="{
            'incompleta':tarea.estado===0,
            'proceso':tarea.estado===1,
            'filtroPendientes':filter===1 && tarea.estado!=0,
            'filtroProceso':filter===2 && tarea.estado!=1
        }">
        
        <div class="top-side">
            <div class="task">
                <h1>{{tarea.titulo}}</h1>
                <h4>{{tarea.descripcion}}</h4>
            </div>
            <div class="task-info">
                <p>Prioridad: {{tarea.prioridad}}</p>
                <p *ngIf="tarea.estado===0">Pendiente</p>
                <p *ngIf="tarea.estado===1">En proceso</p>
                <p>Creada: {{tarea.fecha | date:'MMM d, y, hh:mm a'}}</p>
            </div>
        </div>
        <div class="bot-side">
            <button *ngIf="tarea.estado===0" class=" btn btn-sm btn-success mr-1" (click)="proceso(tarea)">Comenzar</button>
            <button *ngIf="tarea.estado===1" class=" btn btn-sm btn-warning mr-1" (click)="proceso(tarea)">Pausar</button>
            <button class=" btn btn-sm btn-dark mr-1" (click)="editar(tarea)">Editar</button>
            <button class=" btn btn-sm btn-info" (click)="completar(tarea)">Completar</button>
        </div>
    </div>   
</div>