.top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.noTareas{
    color: gray;
}

.lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarea{
    width: 250px;
    border: 1px solid greenyellow;
    margin: 5px 5px 5px 0;
    padding: 5px 5px;
    text-align: center;
    background-color: lightgreen;
}

.task{
    margin-top: 5px;
}

.task h1{
    font-weight: 500;
}

.task-info{
    padding-top: 10px;
    padding-bottom: 1px;
    margin-bottom: 8px;
    background-color: lightgrey;
    font-size: small;
}
