<h2 mat-dialog-title>Editar tarea</h2>

<mat-dialog-content [formGroup]="formulario">
    <form>
        <mat-form-field>
                <label for="titulo">Título</label>
                <input 
                    type="text" 
                    id="titulo" 
                    formControlName="titulo" 
                    class="form-control" 
                    placeholder="Introduce un título corto"
                    [(ngModel)]="tarea.titulo"
                >
                    <div class="error" *ngIf="formulario.controls.titulo.errors?.required && formulario.controls.titulo.touched">
                    Este campo es requerido
                </div>
                <div class="error" *ngIf="formulario.controls.titulo.errors?.maxlength && formulario.controls.titulo.touched">
                    No puede tener más de 15 caracteres
                </div>
        </mat-form-field>
        <mat-form-field>
            <label for="desc">Descripción</label>
            <input 
                type="text" 
                id="desc" 
                formControlName="descripcion" 
                class="form-control" 
                placeholder="Introduce una descripción"
                [(ngModel)]="tarea.descripcion"
            >
        </mat-form-field>
        <mat-form-field>
            <label>Prioridad</label>
            <select 
                class="form-control" 
                formControlName="prioridad"
                [(ngModel)]="tarea.prioridad"
            >
                <option *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]" value="{{i}}">{{i}}</option>
            </select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-accent" mat-dialog-close mat-dialog-close="false">Cerrar</button>
    <button class="mat-raised-button mat-primary" type="submit" [mat-dialog-close]="formValues()">Actualizar</button>
</mat-dialog-actions>